@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;400;700&display=swap');
*{font-family: 'Fira Sans Condensed', sans-serif;}

body {
  background-color: #282c34;
  padding-top: 100px;
}

.App {
  max-width: 800px;
  margin: auto;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: auto;
  padding: 40px;
  border: solid 2px;
  border-radius: 10px;
  background-color: #146071;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
}

.postItem {
  display: grid;
  grid-template-columns: 4fr 7fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  margin: 15px auto;
  border: solid 1px;
  background-color: #6ec8c8;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  padding: 2px;
  text-align: center;
}

.postItem p {
  border-left: solid 2px #14607193;
  border-right: solid 2px #14607193;
}

.noPosts {
  color: snow;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
}

.del-btn {
  background-color: #00e1ff;
  border: solid 1px rgb(23, 160, 151);
  cursor: pointer;
  transition: .2s;
  height: 30px;
}
.del-btn:hover {background-color: rgb(227, 145, 115);}

.postPagination {
  display: flex;
  justify-content: center;
}

.itemPagination {
  text-align: center;
  display: block;
  color: snow;
  cursor: pointer;
  padding: 7px;
  margin-top: 20px;
  min-width: 20px;
  border: solid 1px rgb(23, 160, 151);
  background-color: rgba(23, 160, 151, .2);
  transition: .3s;
}

.itemPagination:hover {
  background-color: rgba(23, 160, 151, .8);
}

.itemPagination:not(:first-child) {
  margin-left: 10px;
}

.itemPagination_active {
  background-color: rgb(0, 251, 255);
  color: black;
  font-weight: bold;
  transform: translate(0, -5px);
}
.itemPagination_active:hover {
  cursor: default;
  background-color: rgb(0, 251, 255);
}