.navbar {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  gap: 20px;
  color: snow;
  text-transform: uppercase;
}

.navbar li {
  background-color: aquamarine;
  padding: 10px;
  transition: .3s;
}
.navbar li:hover {
  background-color: azure;
}

.navbar button {
  background-color: rgb(130, 204, 179);
  padding: 10px;
  margin-left: 15px;
  text-transform: uppercase;
  transition: .3s;
}
.navbar button:hover {
  background-color: azure;
}